.App {
  display: flex;
  align-items: center;
  width: 80% !important;
  margin: auto;
  margin-top: 5rem;
  background-color: white;
  box-shadow: 0 0 30px 5px rgb(212, 212, 212);
}
.right_Side::-webkit-scrollbar {
  overflow: hidden;
  display: none;
}
.left_Side {
  flex: 0.25;
  height: 80;
}
.right_Side {
  flex: 1;
  height: 80vh;
  overflow: scroll;
}
